WebServices1/WebServices1/WebContent/wsdl/Conversion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservices.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservices.metacube.com" xmlns:intf="http://webservices.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservices.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convertFtoC">
    <complexType>
     <sequence>
      <element name="degree" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertFtoCResponse">
    <complexType>
     <sequence>
      <element name="convertFtoCReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertFtoCRequest">

      <wsdl:part element="impl:convertFtoC" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="convertFtoCResponse">

      <wsdl:part element="impl:convertFtoCResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Conversion">

      <wsdl:operation name="convertFtoC">

         <wsdl:input message="impl:convertFtoCRequest" name="convertFtoCRequest">

       </wsdl:input>

         <wsdl:output message="impl:convertFtoCResponse" name="convertFtoCResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConversionSoapBinding" type="impl:Conversion">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convertFtoC">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertFtoCRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertFtoCResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConversionService">

      <wsdl:port binding="impl:ConversionSoapBinding" name="Conversion">

         <wsdlsoap:address location="http://localhost:8080/WebServices1/services/Conversion"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
